
<h1 class="display-6">{{ clientecpf ? 'Editar' : 'Cadastrar' }}</h1>
<hr/>
<div class="container-fluid">
  <form [formGroup]="clienteForm" (ngSubmit)="cadastrar()" >
    <div class="row">
      <div class="col-3">
        <div class="mb-3">
          <label for="cpf" class="form-label">CPF</label>
          <input id="cpf" type="number" class="form-control" formControlName="cpf" />
        </div>
      </div>
      <div class="col-7">
        <div class="mb-3">
          <label for="nome" class="form-label">Nome</label>
          <input id="nome" type="text" class="form-control" formControlName="nome" />
        </div>
      </div>
      <div class="col-2">
        <div class="mb-3">
          <label for="rendimentoMensal" class="form-label">Rendimento</label>
          <input id="rendimentoMensal" type="number" class="form-control" formControlName="rendimentoMensal" min="0" />
        </div>
      </div>
      <div class="col-12 row g-2" formGroupName="endereco">
        <div class="col-9">
          <div class="mb-3">
            <label for="rua" class="form-label">Logradouro</label>
            <input id="rua" type="text" class="form-control" formControlName="rua" />
          </div>
        </div>
      <div class="col-1">
        <div class="mb-3">
          <label for="numero" class="form-label">Numero</label>
          <input id="numero" type="text" class="form-control" formControlName="numero" min="0" />
        </div>
      </div>
      <div class="col-2">
        <div class="mb-3">
          <label for="cep" class="form-label">CEP</label>
          <input id="cep" type="text" class="form-control" formControlName="cep" />
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="mb-3">
        <label for="telefone" class="form-label">Telefone</label>
        <input id="telefone" type="text" class="form-control" formControlName="telefone" />
      </div>
    </div>
    </div>
    <button type="submit" [disabled]="!clienteForm.valid" class="btn btn-primary">{{ clientecpf ? 'Editar' : 'Cadastrar' }}</button>
  </form>
</div>
