<nav class="navbar navbar-expand-lg" style="background-color: #00008B;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: white;" routerLink="/home">
      MINSAIT
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="color: white;" aria-current="page" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <div class="btn-group" role="group">
          <button type="button" class="btn dropdown-toggle" style="background-color: #00008B; color: white;" data-bs-toggle="dropdown" aria-expanded="false">
            Menu
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/cliente" routerLinkActive="active">Acessar lista de clientes</a></li>
            <li><a class="dropdown-item" routerLink="/cliente/cadastrar" routerLinkActive="active">Cadastrar novo Cliente</a></li>
          </ul>
        </div>
      </ul>
    </div>
  </div>
</nav>
